# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.metadata
coverage/

# IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store
**/.DS_Store

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
**/android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
**/ios/**/xcuserdata/
*.xcuserstate

# Secrets
.env
*.env
